
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    width:100vw;
    overflow-x: hidden;
}

.wrapper-header{
    
    display:flex;
    justify-content: center;
    align-items: center;
    gap:200px;
    height: 128px;
}

.wrapper{
    width:1140px;
    margin:0 auto;
}

header{
    position: fixed;
    top:0;
    background-color: rgba(0, 0, 0, 0.55);
    width:100vw;
    z-index: 999;
}

nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    font-size:29px;
    margin-left:72px;
    color:#FFF;
}

#main{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/index/main.png);
    height: 100vh;
    width: 100vw;
    
}

#main .wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    height: 100%;
    gap:100px;
    
}

.index-h1{
    padding-top: 50px;
    color:white;
    font-size:90px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 20px;
}

.main-p{
    color:white;
    font-size: 40px;
    margin-bottom: 62px;
    font-weight: 300;
}

.main-link{
    text-decoration: none;
    color:white;
    border-radius: 31px;
    padding: 38px 86px;
    background: linear-gradient(90deg, rgba(235,149,98,1) 0%, rgba(224,207,167,1) 100%);
}

.main-left{
    width:650px
}

.main-circle{
    padding-top: 50px;
}


#categories{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#categories > a{
    text-decoration: none;
    
    
}

#categories > a > div{
    width:50vw;
    height: 257px;
    display: flex;
    align-items:flex-end;
    padding-bottom: 40px;
    
}

a{
    text-decoration: none;
}

.categories-item-1{
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/index/categories/categories-1.png);
}

.categories-item-2{
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/index/categories/categories-2.png);
}

.categories-item-3{
    background-repeat: no-repeat;
    background-size: cover;
   
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/index/categories/categories-3.png);
}

.categories-item-4{
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/index/categories/categories-4.png);
}

.categories-text{
    color:white;
    font-size:40px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.42);
    padding:4px 30px;
    margin-left: 20px;
    
}

.categories-text::after{
    content: " >";
}

.index-title{
    font-size:60px;
    color:#8D3500;
    text-align: center;
    margin-bottom: 20px;
}



.why-block{
    display:flex;
    gap:100px;
    justify-content: center;
}

.why-icons> div >*{
    text-align: left;
}

.why-icons{
    display:flex;
    align-items:center;
    gap:30px;
    border: 1px solid #8D3500;
    height:150px;
    border-radius: 18px;
    padding:25px;
    margin-bottom: 50px;
}

h3{
    font-size: 56px;
    font-weight: 700;
}

.why-text{
    font-weight: 300;
    font-size: 20px;
    
}

.why-p{
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 100px;
}

.map{
    width:100vw;
    margin-bottom: 20px;
}

.feedback-block-left{
    width: 570px;
    
}

.feedback-block-left > h3{
    margin-bottom: 30px;
}

.feedback-block-left > p{
    font-size: 26px;
}

#form-on-bottom{
    display: flex;
    flex-direction: column;
}

#feedback-form > .wrapper {
    display: flex;
    justify-content: center;
    gap:100px;
}



.feedback-input{
    width: 350px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
    border:1px solid rgba(0, 0, 0, 0.25);
}

.bottom-button{
    width:230px;
    height: 50px;
    background:linear-gradient(90deg, rgba(235,149,98,1) 0%, rgba(224,207,167,1) 100%);
    border: none;
    border-radius: 31px;
    color:white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
}

#feedback-form{
    margin-bottom: 50px;
}

footer{
    background-color:#562000;
    height: 267px;;
}

footer > .wrapper {
    display:flex;
    justify-content: space-around;
    align-items:center;
}

footer > .wrapper > *{
    display: flex;
    flex-direction: column;
    justify-items: center;
    
}

footer > .wrapper > :nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.footer-span-1{
    font-size: 26px;
    color:white;
    margin-bottom: 20px;
}

.footer-span-2 {
    font-size: 20px;
    color:white;
    text-align: center;
    padding-bottom: 30px;
    
}



.footer-logo{
    margin-bottom:20px;
    margin-top: 40px;
    
}

.qr{
    width:175px;
    margin-top:30px;
}

.about-us-lb{
    width: 350px;
}




.about-us-h1{
    font-size: 86px;
    color:000;
    margin-top: 200px;
    text-align: center;
    margin-bottom: 80px;
}

.about-us-p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.about-us-wrapper{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.video {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#about-us-block {
    margin-bottom: 100px;
}


#about-us-block > .wrapper {
    display: flex;
}

.about-city-title{
    font-size:50px;
    margin-bottom: 30px;
    text-align: center;
}

#floor-plan > .wrapper {
    display:flex;
    flex-direction: column;
    align-items:center;
} 

.border-base{
    background-color:white;
    border:1px solid black;
   
}

.border-mask{
    
    background-color:white;
    border-radius:20px;
    
    
}

.floor-map{
    padding: 40px;
    
    
}

#floor-plan{
    margin-bottom: 200px;
}

#floor-plan .wrapper span {
    margin-top:20px;
    text-align: center;
}

.wrapper ul  {
    list-style-type: none;
}

.wrapper ul li {
    font-size: 30px;
}

#our-company .wrapper div {
    display: flex;
    justify-content: center;
    gap: 120px;
}

#our-company{
    margin-bottom: 100px;
}

.big-h1{
    font-size: 86px;
    text-align: center;
}

#about-city{
    margin-top:200px;
    margin-bottom: 50px;
    
}

#about-city .wrapper{
    display: flex;
    flex-direction: column;
    align-items:center
} 

.city-image{
    width:530px;
    height: 380px;
    
}

.city-images{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom:20px;
}

.action-link{
     
    margin-top: 50px;
    text-decoration: none;
    color:white;
    border-radius: 31px;
    padding: 31px 60px;
    background: linear-gradient(90deg, rgba(235,149,98,1) 0%, rgba(224,207,167,1) 100%);
}

#apartments .wrapper{
    margin-top:200px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 50px;
}

#apartments .wrapper :first-child :nth-child(3) {
    margin-bottom: 80px;
    
}

#apartments h1 {
        font-size: 86px;
        color:000;
        margin-bottom: 80px;
    
}

#apartments  p {
    font-size: 16px;
    
    margin-bottom: 20px;
}

#items h2{
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
}

#items .wrapper{
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content: space-around;
}

#items{
    margin-bottom: 100px;
}

.a-item{
    width:500px;
    height: 240px;
    padding: 0 20px;
    border: 1px #8D3500 solid;
    border-radius: 1em;
    display: flex;
    gap:25px;
    justify-content: center;
    align-items:center;
    
}

.a-item-image{
    width:212px;
    height: 191px;
}

.a-item h3{
    font-size:30px;
}

.a-item span{
    font-size:16px;
}

.a-item-desk{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 191px;
}